body {
  background-color: #121213;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  border-bottom: 1px solid #3a3a3c;
}

button {
  cursor: pointer;
}

.left-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  width: 350px;
}

.menu-icon {
  border: none;
  padding: 2px 8px 0 0;
  background: none;
}

.help-icon {
  border: none;
  padding: 0 6px;
  background: none;
  filter: invert(99%) sepia(0%) saturate(24%) hue-rotate(103deg)
    brightness(112%) contrast(95%);
}

.stats-icon {
  border: none;
  padding: 0 6px;
  background: none;
  filter: invert(99%) sepia(0%) saturate(24%) hue-rotate(103deg)
    brightness(112%) contrast(95%);
}

.settings-icon {
  border: none;
  padding: 0 6px;
  background: none;
  filter: invert(99%) sepia(0%) saturate(24%) hue-rotate(103deg)
    brightness(112%) contrast(95%);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  min-height: 35px;
  border-color: #f8f8f8;
  color: #f8f8f8;
  font-size: 14px;
  background-color: #121213;
  margin-left: 30px;
  padding: 0 25px;
}

.title {
  color: #f8f8f8;
  font-size: 36px;
  text-align: center;
  flex-grow: 2;
  margin: 0;
}

.game-board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  padding: 10px;
  width: 350px;
  height: 420px;
  grid-gap: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.filled-row .letter {
  border: none;
}

.letter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3a3a3c;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.letter11 {
  animation-name: vertical-flip;
  animation-duration: 1s;
  background-color: #3a3a3c;
}

.letter12 {
  animation-name: vertical-flip;
  animation-duration: 1s;
  animation-delay: 100ms;
  background-color: #538d4e;
}

.letter13 {
  animation-name: vertical-flip;
  animation-duration: 1s;
  animation-delay: 200ms;
  background-color: #538d4e;
}

.letter14 {
  animation-name: vertical-flip;
  animation-duration: 1s;
  animation-delay: 300ms;
  background-color: #3a3a3c;
}

.letter15 {
  animation-name: vertical-flip;
  animation-duration: 1s;
  animation-delay: 400ms;
  background-color: #b59f3b;
}

.absent {
  background-color: #3a3a3c;
}

.present {
  background-color: #b59f3b;
}

.correct {
  background-color: #538d4e;
}

@keyframes vertical-flip {
  from {
    background-color: #121213;
    border: 2px solid #3a3a3c;
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.game-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: baseline;
  margin: 0 8px;
  height: 200px;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.25em;
  margin: 0 6px 0 0;
  height: 58px;
  border: none;
  flex: 1;
  color: #f8f8f8;
  border-radius: 4px;
}

button {
  background-color: #818384;
}

.backspace {
  flex: 1.5;
  font-size: 12px;
  filter: invert(99%) sepia(0%) saturate(24%) hue-rotate(103deg)
    brightness(112%) contrast(95%);
}

.enter {
  flex: 1.5;
  font-size: 12px;
}

.spacer {
  flex: 0.5;
}
